__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.bak

federated_learning/server_final/logs/
federated_learning/server_final/global_model/
federated_learning/server_final/model_versions/
federated_learning/server_final/*.pem
federated_learning/server_final/admin/*.pem
federated_learning/server_final/client/*.pem
federated_learning/server_final/client_models/*.pth
federated_learning/server_final/model_evaluation_outputs/**/*.zip

.DS_Store
Thumbs.db
